<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded"> Welcome to my Portfolio! My name is Nina Zanarelli and I'm a UX/UI designer from Milan, Italy. 
                    I am passionate about UX/UI and service design, I have proficient knowledge of Adobe Creative Cloud tools and wireframing tools such as Figma. I'm eager to experiment and create new innovative solution, I'm team-oriented, empathetic and enthusiastic.
                </p>
            </div>
        </div>
    </div>
</section>
