<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded"> Animus was developed starting from the analysis of episode 1 of the second season of Black Mirror. During the episode, the main character loses her partner in a car accident and, not being able to accept his death, she signs up for a service that allows her to text, call and even buy a robot that looks like her deceased partner, which, thanks to the collection of his personal data taken from the web, speaks and behaves exactly like the man.
                    Despite the fact that this service has positive aspects, it also has negative ones, as we can see at the end of the episode. Through a detailed analysis of the service we have established how far we could have gone, using the same technology present in the episode, in order to help without further damaging a person who has suffered a profound loss and who wants to find himself.                                    
                    </p>
            </div>
        </div>
    </div>
</section>