<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">During this class each team was assigned to a retail industry, in my case the Fiat Chrysler Automobiles industry. After a deep analysis we discover there’s not much innovation in this industry, we researched the services offered by the dealerships and they have been pretty much the same in the last years. This is the reason why the majority of people decide to buy the cars online, the experience in the dealership is not worth it at this moment. That’s what we need to change to make this company even more successful.</p>
            </div>
        </div>
    </div>
</section>