<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded"> This UX Design course proposed the theoretical and practical exploration of the fundamentals of user-experience design and interaction design, taking into account both digital and analog worlds, from research to concept, from prototyping and execution to validation.  </p>
            </div>
        </div>
    </div>
</section>