<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded"> NooN is a delivery box that can either be ordered or brought with you to your garden, to the beach, to a park, or anywhere else where you would like to spend some time with your family or friends. NooN contains everything that is needed to enjoy a meal out in the sun. The smart design of NooN enables multiple functions to the delivery box, which not only enables you to bring along your food; you are also able to prepare the individual dishes right on location, heat it up in the foldable solar cooker, and gather again around the cooker to eat. This product is totally recycable and takes advantage of the warm californian weather. 
                    </p>
            </div>
        </div>
    </div>
</section>