<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">1/3 of Americans have displayed signs of anxiety, depression or both since the pandemic has begun and the long term psychological effects of this can last over a decade. 60% of college students, specifically, have experienced overwhelming anxiety, and this figure has increased significantly since the covid-19 pandemic. 
                    During the spring 2020, with my colleague Snehita Sana, in response to the rapid escalation of COVID-19 and subsequent closing of campuses by universities across the country, we conceived The Community App. Our goal was to make an application that would help rebuild the CMU (Carnegie Mellon University) community as classes continued to remain remote for the summer and fall semesters. With the help of a team of like-minded CMU students, we worked hard to build the app and have it open to CMU students during the fall 2020 semester. The Community app will enable students to make new friends, participate in online club events, easily form study groups with fellow classmates, and gain access to important resources to feel supported during this difficult time in all our lives.
                    </p>
            </div>
        </div>
    </div>
</section>
