<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">"Wandering is a phenomenon whereby patients with
                    Alzheimer experience a strong urge to walk,
                    often without a purpose, or at least a real destination.
                    For this reason sometimes their destination, as well
                    as the reason for reaching it, lies in their
                    personal view of reality."</p>
            </div>
        </div>
    </div>
</section>