<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded"> At the moment only 10% of hate crimes against the LGBT Community are reported, and this is due mainly to a lack of trust within individuals and institutions. Victims, therefore, are scared and don’t have the resources to report, in the meantime witnesses don’t feel the responsibility to disclose what they observed. Moreover, institutions are not trained and don’t know how to behave and communicate in this situations. When you face a discrimination, you want to pursue justice, the problem now is how can you, when there are all these barriers, and that’s when a service like orbit can really make a change. </p>
            </div>
        </div>
    </div>
</section>