<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded"> Beatrising is a german digital music distributor, founded in 2015. Their current website is quite outdated, difficult to navigate and even complex to perform the simplest tasks. Therefore, the goal of the project was to evaluate the company's proposed service offering, and also consider the integration of new services; build a new information architecture for the website so that it is easier to navigate; and finally redesign the entire website with a new, more consistent graphic style. 
                    </p>
            </div>
        </div>
    </div>
</section>