<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <hr class="light">
                <p class="text-faded">The project carried out for Scuola IaD included a redesign of the current website, based on a need for site renewal accrued by the School's board.
                    Scuola IaD is a School for Digital Education and is defined as a scientific, teaching and service structure of the University of Rome "Tor Vergata," which ensures the methodological and technological skills necessary for learning in digital contexts. With this in mind, it is essential that the Scuola IaD website, its main business card, be intuitive in use and complete in terms of information. Starting with this objective, a re-design of the current website was therefore carried out, defining a new Information Architecture that would facilitate user navigation and opting for a more minimal, linear and coherent design</p>
            </div>
        </div>
    </div>
</section>