<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="../galleryone.html" class="portfolio-box">
                    <img src="img/portfolio/new1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service and UX/UI Design
                            </div>
                            <div class="project-name">
                                Intra App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../gallerytwo.html" class="portfolio-box">
                    <img src="img/portfolio/new2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Product and Service Design
                            </div>
                            <div class="project-name">
                                noon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../gallerythree.html" class="portfolio-box">
                    <img src="img/portfolio/new3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service and UX/UI Design
                            </div>
                            <div class="project-name">
                                Orbit
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../galleryfive.html" class="portfolio-box">
                    <img src="img/portfolio/new5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service and Visualization Design
                            </div>
                            <div class="project-name">
                                Animus
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../galleryfour.html" class="portfolio-box">
                    <img src="img/portfolio/new4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Service and System Design
                            </div>
                            <div class="project-name">
                                FCA Show
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../gallerysix.html" class="portfolio-box">
                    <img src="img/portfolio/new6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                UX/UI Design
                            </div>
                            <div class="project-name">
                                Beatrising
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../galleryseven.html" class="portfolio-box">
                    <img src="img/portfolio/new7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Interior Design
                            </div>
                            <div class="project-name">
                                All Around - Alzheimer Residence
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../galleryeight.html" class="portfolio-box">
                    <img src="img/portfolio/new8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Interior Design
                            </div>
                            <div class="project-name">
                                Wander Land
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../gallerynine.html" class="portfolio-box">
                    <img src="img/portfolio/new9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photography
                            </div>
                            <div class="project-name">
                                Light in the Dark
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
