<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Test the prototype!</h2>
                <hr class="primary">
                <p><a class="page-scroll" href="https://www.beatrising.com/">Here</a> you can view the old website. If you click on the button below, instead, you can visit the new functioning Figma prototype and the see improvements made to the website! (To have a better experience you should open the prototype from your laptop, possibly in a full screen mode)</p>
                <a href="https://www.figma.com/proto/ewktjxQRYqM3STx5UyzcRu/Beatrising?page-id=1%3A8138&node-id=1%3A9963&viewport=501%2C365%2C0.03&scaling=min-zoom&starting-point-node-id=1%3A10441" class="btn btn-primary btn-xl page-scroll">Beatrising prototype</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Beatrising slide-show</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div id="projectoneCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectsix" src="../img/beatrising/BEATRISING1.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING2.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING3.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING4.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING5.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING6.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING7.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING8.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING9.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING10.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/beatrising/BEATRISING11.jpg">
            </div>
        </div>
        <a class="left carousel-control" href="#projectoneCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projectoneCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for watching!</h2>
                <hr class="primary">
                <a href="../galleryseven.html" class="btn btn-primary btn-xl page-scroll">Next project</a>
            </div>
        </div>
    </div>
</section>
