<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Set the dish slide-show</h2>
                <hr class="primary">
                <p> Something to say</p>
            </div>
        </div>
    </div>
    <div id="projectoneCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectsix" src="../img/UX/UX1.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX2.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX3.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX4.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX5.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX6.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX7.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX8.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX9.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX10.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX11.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX12.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX13.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX14.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX15.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX16.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX17.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX18.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX19.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX20.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX21.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX22.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UX/UX23.jpg">
            </div>
        </div>
        <a class="left carousel-control" href="#projectoneCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projectoneCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">On the go slide-show</h2>
                <hr class="primary">
                <p> Something to say</p>
            </div>
        </div>
    </div>
    <div id="projectoneCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectsix" src="../img/UI/UI1.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI2.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI3.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI4.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI5.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI6.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI7.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI8.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI9.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI10.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/UI/UI11.jpg">
            </div>
        </div>
        <a class="left carousel-control" href="#projectoneCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projectoneCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for watching!</h2>
                <hr class="primary">
                <a href="../gallerysix.html" class="btn btn-primary btn-xl page-scroll">Next project</a>
            </div>
        </div>
    </div>
</section>


