<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">noon video</h2>
                <hr class="primary">
                <p> This video has been realized combining videos of the phisical model and some renders made with Cinema 4D</p>
            </div>
        </div>
        <video class="projectsix" controls poster="../img/copertinavideonoon.png">
            <source src="../video/noon_video.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video> 
    </div>
</section>