<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Community App video</h2>
                <hr class="primary">
                <p> The Community App is a mobile app made for colleges to build a stronger community and for students to socialise, collaborate and study better. We realised the app in September 2020 and we had more than 500 downloads in one month, obtaining a lot of good feedbacks from students. 
                    We develop a second and improved version of the app, following students' suggestions, during the fall semester 2020. In the meantime we participated in numerous competitions to finance our app and ensure its operation.  
                </p>
            </div>
        </div>
        <video class="projectsix" controls poster="../img/copertinavideocomm.png">
            <source src="../video/videocommunity.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video> 
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">From the Community App to Intra</h2>
                <hr class="primary">
                <p>During the spring semester 2021, universities started again to have some classes in presence and people started to meet again on campus. But while schools started to go back to normal, a lot of companies decided to maintain remote working and research shows that it’s going to be like this for a long time. This is why we started to collaborate with a financial corporation in Pittsburgh, and we began to translate the app we built for colleges into an onboarding app that can help new hires feel more engaged and supported. Research shows that employees who go through a structured onboarding process are 58% more likely to stay with the organization for three years or more. Why? Because a well-designed onboarding program increases employee engagement and helps new staff members feel like a part of the team. 
                    </p>
            </div>
        </div>
    </div>
    <div id="projectoneCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA1.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA2.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA3.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA4.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA5.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA6.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA7.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA8.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA9.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA10.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA11.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA12.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA13.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA14.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA15.jpg">
            </div>
            <div class="item active">
                <img class="projectsix" src="../img/community/INTRA16.jpg">
            </div>
        <a class="left carousel-control" href="#projectoneCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projectoneCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Discover more!</h2>
                <hr class="primary">
                <p>During the summer 2021 we developed the Intra App for Corporations and we started to look for clients interested in it. Our mission is to support the mental health of both students and workers, especially during this difficult time, where everyone feels lonely and scared to ask for help. If you want read more about our history and achievements take a look to our website! </p>
                <a class="page-scroll" style="font-weight: bold;" href="https://www.intraapp.io/">Intra website</a>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for watching!</h2>
                <hr class="primary">
                <a href="../gallerytwo.html" class="btn btn-primary btn-xl page-scroll">Next project</a>
            </div>
        </div>
    </div>
</section>
