<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Orbit video</h2>
                <hr class="primary">
                <p> Orbit can really facilitate the process of reporting. In the countries where hate crimes are legally recognized, individuals can quickly report online, from the comfort of their homes, without having to face the stress and the fear of going to the police station. Their reports, in fact, are forwarded to the police and all the data collected are anonymously showed on an open source digital platform, which aims to show a clear picture of the current situation. On this platform numerous support services are available to help people who suffer a hate crime. 
                    In the 14 countries where, shamefully, hate crimes against the LGBT Community are still not recognized from the institutions, Orbit goal is to collect trustable data to show the severity of the problem and to hopefully achieve a change of policy. In these countries the barriers are even more and to normalize the act of report and make individuals more confident in the anonymity of the process, Orbit employs existing touchpoint, trustable and available everywhere, ATM machines.    
                </p>
            </div>
        </div>
        <video class="projectsix" controls poster="../img/orbitvideocover.jpg">
            <source src="../video/videoorbit.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
        </video> 
    </div>
</section>
<section>
    <div class="container" style="margin-bottom: 70px;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Orbit slide-show</h2>
                <hr class="primary">
                <p>For Orbit it’s very important that not only victims, but also witnesses report, the responsibility needs to be shared to create a safer community for everyone with a very low individual effort. Therefore, to summarize, Orbit promotes diversities, physical and mental wellbeing and makes communities thrive. Moreover, Orbit aims to raise awareness on a very sensitive topic, using existing technologies, having a low impact on the environment. As stated previously, only 1 case out of ten is reported in the EU, this is not enough, Orbit aims to hit 10 out of 10 cases by reaching 30 thousand cases of anti-LGBT hate crimes reported for year. 
                     </p>
            </div>
        </div>
    </div>
    <div id="projectoneCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectsix" src="../img/orbit/ORBIT1.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT2.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT3.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT4.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT5.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT6.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT7.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT8.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT9.jpg">
            </div>
            <div class="item">
                <img class="projectsix" src="../img/orbit/ORBIT10.jpg">
            </div>    
        </div>
        <a class="left carousel-control" href="#projectoneCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projectoneCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thanks for watching!</h2>
                <hr class="primary">
                <a href="../galleryfive.html" class="btn btn-primary btn-xl page-scroll">Next project</a>
            </div>
        </div>
    </div>
</section>
